<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Парсинг</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
    <div class="content">
        <div class="row_progress"><b>Здесь будет отображаться прогресс</b></div>
        <div class="row_functional">
            <button id="startParsing">Парсить</button>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>